/* src/pages/MainPage.css */
body {
  margin: 0;
  padding: 0;
  font-family: 'Pretendard', sans-serif;
  font-weight: 600;
}

.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(var(--vh, 1vh) * 100);
  background: linear-gradient(to bottom, #f9fafb 40%, #6482AD 95%);
}

.main-content {
  text-align: center;
  width: 90%;
  max-width: 300px;
  padding: 1rem;
}

.main-image {
  width: 100%;
  max-width: 300px;
  margin: 1rem 0rem;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1.3rem;
  color: #6482AD;
  margin-bottom: 0rem;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  color: #6482AD;
  margin-bottom: 0rem;
  margin-top: 0rem;
}

button {
  display: block;
  width: 100%;
  background-color: #6c7aa1;
  color: white;
  font-size: 1.1rem;
  font-weight: 700;
  padding: 1rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
  transform: scale(1);
}

button:hover {
  background-color: #556080;
}

button:active {
  transform: scale(0.97);
  opacity: 0.95;
}